In [2]:
import pandas as pd
import os

In [2]:
files = os.listdir()
csv = [file for file in files if file.endswith('.csv')]

In [3]:
csv

['adds_map.csv',
 'MS_IN_AI.csv',
 'MS_IN_Arch.csv',
 'MS_IN_CIVIL.csv',
 'MS_IN_CSE (2).csv',
 'MS_IN_DS.csv',
 'MS_IN_EEE.csv',
 'MS_IN_ELEC_CS (1).csv',
 'MS_IN_Env_Sci.csv',
 'MS_IN_Fin_Acc.csv',
 'MS_IN_Int_Rel.csv',
 'MS_IN_MBA.csv',
 'MS_IN_Pshy.csv',
 'MS_IN_Pub_health.csv',
 'MS_IN_SOFT_Eng.csv']

In [ ]:
unis = []
adds = []
for file in csv:
    df = pd.read_csv(file)
    unis.extend(df["University Name"])
    for i in range(len(df)):
        adds.append(df["University Name"][i] + ", "+ df["State"][i]+ ", " + df["Country"][i])

In [ ]:
print(len(unis), len(adds))

In [ ]:
adds[1000]

In [ ]:
unis[1000]

In [40]:
address = {"University Name":unis, "Address":adds}

In [41]:
address_df = pd.DataFrame(address)

In [43]:
address_df

,University Name,Address
0,"Northeastern University, Boston","Northeastern University, Boston, Massachusetts..."
1,University of Southern California,"University of Southern California, California,..."
2,University at Buffalo SUNY,"University at Buffalo SUNY, New York, United S..."
3,San Jose State University,"San Jose State University, California, United ..."
4,Carnegie Mellon University,"Carnegie Mellon University, Pennsylvania, Unit..."
...,...,...
4903,University of Wales Trinity Saint David,"University of Wales Trinity Saint David, Swans..."
4904,University of Wales Trinity Saint David,"University of Wales Trinity Saint David, Swans..."
4905,University of Bolton,"University of Bolton, Bolton, United Kingdom"
4906,University of Advancing Technology,"University of Advancing Technology, Arizona, U..."
4907,University of Wisconsin–La Crosse,"University of Wisconsin–La Crosse, Wisconsin, ..."

In [50]:
address_df["University Name"].value_counts()

University Name
Arizona State University                               32
University of Liverpool                                30
The University of Sheffield                            23
University of Nottingham                               23
Swansea University                                     22
                                                       ..
Virginia Polytechnic Institute and State University     1
Tiffin University                                       1
Bay Atlantic University                                 1
Milwaukee School of Engineering                         1
University of Wisconsin–La Crosse                       1
Name: count, Length: 1112, dtype: int64

In [68]:
df_no_dup = address_df.drop_duplicates(subset=["University Name"])

In [70]:
df_no_dup[df_no_dup["University Name"]=="Toronto Metropolitan University"]

,University Name,Address
30,Toronto Metropolitan University,"Toronto Metropolitan University, Toronto, Canada"

In [71]:
df_no_dup.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1112 entries, 0 to 4907
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   University Name  1112 non-null   object
 1   Address          1112 non-null   object
dtypes: object(2)
memory usage: 26.1+ KB

In [72]:
df_no_dup.to_csv("adds_map.csv", index=False)

In [73]:
df_no_dup["University Name"].value_counts()

University Name
Northeastern University, Boston                1
Frostburg State University                     1
Cardiff Metropolitan University                1
Southern Adventist University                  1
Bangor University                              1
                                              ..
Johns Hopkins University                       1
Texas A&M University - Kingsville              1
University of Ottawa                           1
University of North Carolina at Chapel Hill    1
University of Wisconsin–La Crosse              1
Name: count, Length: 1112, dtype: int64

In [3]:
df = pd.read_csv("adds_map.csv")

In [4]:
df

,University Name,Address
0,"Northeastern University, Boston","Northeastern University, Boston, Massachusetts..."
1,University of Southern California,"University of Southern California, California,..."
2,University at Buffalo SUNY,"University at Buffalo SUNY, New York, United S..."
3,San Jose State University,"San Jose State University, California, United ..."
4,Carnegie Mellon University,"Carnegie Mellon University, Pennsylvania, Unit..."
...,...,...
1107,University of Scranton,"University of Scranton, Pennsylvania, United S..."
1108,Centennial College,"Centennial College, Ontario, Canada"
1109,University of Lorraine,"University of Lorraine, Grand Est, France"
1110,University of Advancing Technology,"University of Advancing Technology, Arizona, U..."
1111,University of Wisconsin–La Crosse,"University of Wisconsin–La Crosse, Wisconsin, ..."

In [5]:
from geopy.geocoders import Nominatim
 
geolocator = Nominatim(user_agent="GetLoc")

# Define the function to get latitude and longitude
def get_loc(address):
    try:
        location = geolocator.geocode(address)
        if location:
            return location.latitude, location.longitude
        else:
            return None, None
    except Exception as e:
        print(f"Error: {e}")
        return None, None

# Create empty columns for latitude and longitude
df["lat"] = None
df["long"] = None

# Loop through the addresses and get their latitudes and longitudes
for i in range(len(df)):
    address = df.at[i, "Address"]
    lat, long = get_loc(address)
    df.at[i, "lat"] = lat
    df.at[i, "long"] = long

Error: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Ohio+State+University%2C+Ohio%2C+United+States&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
Error: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=Northeastern+University-Seattle%2C+Washington%2C+United+States&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
Error: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=The+University+of+Rhode+Island%2C+Rhode+Island%2C+United+States&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
Error: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=St.+Marys+University%2C+Texas%2C+Texas%2C+United+States&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
Error: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=West+Chester+University+of+Pennsylvania%2C+Pennsylvania%2C+United+States&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
Error: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=The+College+of+Saint+Rose%2C+New+York%2C+United+States&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
Error: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=California+State+University%2C+Bakersfield%2C+California%2C+United+States&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))
Error: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=University+of+the+Pacific%2C+San+Francisco%2C+California%2C+United+States&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

KeyboardInterrupt:

In [6]:
df

,University Name,Address,lat,long
0,"Northeastern University, Boston","Northeastern University, Boston, Massachusetts...",42.338955,-71.088058
1,University of Southern California,"University of Southern California, California,...",34.021869,-118.285858
2,University at Buffalo SUNY,"University at Buffalo SUNY, New York, United S...",43.001888,-78.785214
3,San Jose State University,"San Jose State University, California, United ...",37.33519,-121.881228
4,Carnegie Mellon University,"Carnegie Mellon University, Pennsylvania, Unit...",40.44419,-79.942719
...,...,...,...,...
1107,University of Scranton,"University of Scranton, Pennsylvania, United S...",None,None
1108,Centennial College,"Centennial College, Ontario, Canada",None,None
1109,University of Lorraine,"University of Lorraine, Grand Est, France",None,None
1110,University of Advancing Technology,"University of Advancing Technology, Arizona, U...",None,None
1111,University of Wisconsin–La Crosse,"University of Wisconsin–La Crosse, Wisconsin, ...",None,None

In [20]:
df.to_csv("1.csv")

In [21]:
from geopy.geocoders import Nominatim
from geopy.exc import GeocoderTimedOut

geolocator = Nominatim(user_agent="GetLoc")

# Define the function to get latitude and longitude
def get_loc(address):
    try:
        location = geolocator.geocode(address)
        if location:
            return location.latitude, location.longitude
        else:
            return None, None
    except GeocoderTimedOut:
        print(f"Timeout: Retrying for address {address}")
        return get_loc(address)  # Retry on timeout
    except Exception as e:
        print(f"Error: {e}")
        return None, None

In [22]:
import time

for i in range(len(df)):
    if(df["lat"][i]):
        continue
    address = df.at[i, "Address"]
    lat, long = get_loc(address)
    df.at[i, "lat"] = lat
    df.at[i, "long"] = long
    time.sleep(1)

Error: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /search?q=The+University+of+North+Texas+Health+Science+Center+at+Fort+Worth%2C+Texas%2C+United+States&format=json&limit=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1112 entries, 0 to 1111
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   University Name  1112 non-null   object
 1   Address          1112 non-null   object
 2   lat              881 non-null    object
 3   long             881 non-null    object
dtypes: object(4)
memory usage: 34.9+ KB